################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/NetworkClient/obj
/.vs
/NetworkClient/bin/Debug
/RelayService/bin/Debug
/RelayService/obj
